*{
    margin: 0;
    padding: 0;
}

.vs_content{
    font-family: "Poppins", sans-serif;
    background-color: white;
    color: black;
    padding: 30px;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: 550;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
}

.game{
    display: flex;
    height: 100vh;
}

.left{
    width: 50%;
    /* background-color: red; */
    background-image: url("Addidas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.left1{
    /* color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content{
    text-align: center;
}

h1{
    font-size: 4rem;
}

p{
    font-size: 2rem;
}

.marks{
    font-size: 3rem;
    color: yellow;
}

.right{
    width: 50%;
    background-color: blue;
    background-image: url("Harry-Potter.webp");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
}