*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

.vs_content{
    background-color: white;
    color: black;
    width: 45px;
    text-align: center;
    height: 40px;
    padding: 30px;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: 550;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.vs_right{
    background-color: green;
    color: white;
}

.vs_wrong{
    background-color: red;
    color: white;
}

.game{
    display: flex;
    height: 100vh;
}

.left{
    width: 50%;
    background-image: url("Addidas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.left1, .right1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content{
    text-align: center;
}

h1{
    font-size: 4rem;
    color: white;
    text-shadow: 5px 2px black;
}

.content > p{
    font-size: 1rem;
    color: white;
    text-shadow: 0px 2px black;
}

.marks{
    font-size: 4rem;
    color: yellow;
    font-weight: 550;
}

.right{
    width: 50%;
    background-color: blue;
    background-image: url("Harry-Potter.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.buttons{
    margin: 30px;
}

.click{
    padding: 20px 40px;
    width: 30vmin;
    background-color: transparent;
    font-size: 1rem;
    border: 2px solid white;
    border-radius: 50px;
}

.arr_content{
color: yellow;
}

.arrow{
    color: white;
}

.higher{
    margin-bottom: 10px;
}

.click:hover{
    background-color: white;

    .arr_content{
        color: black;
    }
    .arrow{
        color: black;
    }
}

.score{
    position: fixed;
    right: 40px;
    bottom: 30px;
    font-size: 2rem;
    z-index: 5;
    color: white;
    transition: 0.5s 0.3s;
}

.score_pop{
    font-size: 3rem;
}

@media (max-width:648px){
    .game{
        flex-direction: column;
    }
    .left , .right{
        width: 100%;
    }

    .score{
        font-size: 1rem;
    }

    h1{
        font-size: 2rem;
    }

    .content{
        
    }
}