*{
    margin: 0;
    padding: 0;
}

.main{
    height: 100vh;
}

.vs_content{
    font-family: "Poppins", sans-serif;
    background-color: black;
    color: white;
    padding: 4vh;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: 550;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game{
    display: flex;
    height: 100%;
}

.left{
    width: 50%;
    background-color: red;
}

.right{
    width: 50%;
    background-color: blue;
}